
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    .markdownx .markdownx-preview{
        overflow-y: hidden;
        border: 1px solid #dddddd;
        background:lightblue;
        width: 700px;
    }
</style>

<div class="markdownx row">
    <div class="col-md-6">
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="col-md-6">
        <div class="markdownx-preview"></div>
    </div>
</div>